table {
    border-collapse: collapse;
    border: 2px solid dimgrey;
}

td {
    border: 1px solid dimgrey;
    padding: 5px;
    text-align: center;
    color: black;
}

tr:nth-child(2n) {
    background-color: white;
}

tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

th {
    padding: 10px;
    border: 2px solid dimgrey;
    background-color: lightgray;
    color: black;
}

caption {
    text-align: left;
}